html {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    background-color: #F9FAF8;
}

button {
    flex: 0;
    background-color: #3882F6;
    color: #F9FAF8;
    border: 0px;
    font-size: 16px;
    font-weight: 900;
    border-radius: 10px;
    width: 9rem;
    height: 2.2rem;
}

/* ---------- Header, Footer, and Hero Section ----------*/

header,
footer,
.hero-section {
    background-color: #1F2937;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

/* ---------- Header Specific Section ----------*/

header {
    justify-content: space-between;
    padding: 0 20rem;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header-nav {
    display: flex;
    gap: 2rem;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.header-nav a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

/* ---------- Footer Specific Section ----------*/

footer {
    justify-content: center;
    color: #F9FAF8;
    padding: 1rem;
}

/* ---------- Hero Specific Section ----------*/

.hero-section {
    display: flex;
    justify-content: space-between;
    padding: 8rem 0;
}

.hero-left {
    flex: 1;
    margin-left: 20rem;
}

.hero-section img {
    flex-shrink: 0;
    margin-right: 20rem;
    width: 520px;
    height: 240px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0;
    margin-right: 12rem;
}

.hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
    margin: 1rem 0;
    margin-right: 4rem;
}

/* ---------- Info Body Section ----------*/

.info-body,
.img-gallery,
.img-card {
    display: flex;
}

.info-body {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F9FAF8;
    padding: 2rem 0;
    padding-bottom: 6rem;
}

.info-body h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.img-gallery {
    justify-content: center;
    padding: 1.5rem 0;
    gap: 3rem;
}

.img-card {
    flex-direction: column;
    flex: 0 1 0;
}

.img-card img {
    border: 4px solid #3882F6;
    border-radius: 12px;
    margin-bottom: 0.5rem;
}

.img-card figcaption {
    text-align: center;
    padding: 0.3rem;
}

/* ---------- Quote Body Section ----------*/

.quote-body {
    display: flex;
    justify-content: center;
    background-color: #E5E7EB;
    padding: 8rem 0;
    width: 100%;
}

.quote-container {
    display: flex;
    width:40%;
    flex-direction: column;
    align-items: end;
}

.quote-body p {
    flex: auto;
    font-size: 24px;
    margin: 0;
    padding: 0;
}

.quote-body .quote-text {
    flex: auto;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}

/* ---------- Sign Up Body Section ----------*/

.signup-body {

}

.signup-banner {

}

.signup-banner button {
    border: 2px solid white;
}