html {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

*::before,
*::after {
    box-sizing: inherit;
}

header {

}

footer {

}

.hero-section {

}

.info-body {

}

.img-gallery {

}

.img-card {
    
}

.quote-body {

}

.signup-body {

}

.signup-banner {

}